

<!-- input to add toDo -->
<h2> Add To Do</h2>

title<input type="text" [(ngModel)]="newTodo.title">
description<input type="text" [(ngModel)]="newTodo.description">
<button (click)="addToDo()">Add Item</button>


<!-- displays all todos -->
<hr>
<button>items</button>
<button (click)="deleteAll()">Delete All</button>

<li *ngFor="let item of todos"> 
    <button (click)="completed(item)">Completed</button>
    <button (click)="showUpdateForm()">Update</button>
    <span><strong>{{item.title}}:</strong></span>{{item.description}}, {{item.toDoID}}

    <div>{{item.completed}}</div>


    <div *ngIf="isUpdate">
            <h3> Update ToDo</h3>
        
            title<input type="text" [(ngModel)]="item.title">
            description<input type="text" [(ngModel)]="item.description">
        
            <button (click)="updateToDo(item)">Update Item</button>
        </div> 
</li>




<hr>
<!-- form pops up if Update is clicked -->







<!-- Completed
completed todos are moved to the bottom -->

